//IMPORTS

@import '../variables.scss';

// CONTACT ANIMATIONS 


@keyframes displayScale {
    0%{
        transform: scaleY(0);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes underLine {
    0%{
        transform: translateY(-10px);
        border-bottom-color: $base-color;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.animate{
    animation: displayScale 0.8s ease-in-out forwards;
    span{
        animation: underLine 0.7s .8s ease-in-out forwards;
    }
}

//CONTACT STYLES

.contact-container{
    background-color: lighten($base-color, 34%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content{
    background-color: lighten($base-color, 30%);
    padding: 2rem;
    border-radius: 20px;
}

.contact-list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contact-list-element{
    display: flex;
    align-items: center;
    opacity: 0;
    span{
        margin-left: 30px;
        border-bottom: 3px solid #ffffff;
        font-weight: 500;
        font-size: 1.1em;
        opacity: 0;
    }
    .broken-span{
        margin-left: 36px;
    }
    a{
        color: lighten($base-color, 6%);
        transition: ease .2s;
        &:hover{
            color:$secondary-color;
        }
    }
}

//CONTACT MEDIA QUERIES

@media (max-width:830px){
    .contact-content{
        background-color: lighten($base-color, 34%);
        h2{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

@media(max-width:435px){
    .contact-content{
        padding: 0;
    }
    .contact-list-element{
        font-size: 14px;
    }
}