//IMPORT

@import '../variables.scss';

//INDEX ANIMATIONS

@keyframes displayIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

//INDEX STYLES

//JUMBOTRON

.jumbotron{
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron::after {
    content: "";
    background: url("../../images/jumbo4.jpg");
    background-attachment: fixed;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.jumbotron-content{
    height: 30%;
    text-align: center;
    animation: displayIn 1.5s ease-out;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 4px;
    h3{
        font-size: 4rem;
        letter-spacing: 3px;
    }
    p{
        font-size: 3rem;
    }
}

//ABOUT ME

.about-me-container{
    background-color: lighten($base-color, 34%);
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 40px 0;
}

.about-me-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 10px;
}

.about-me-content-title{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-size: 2rem;
    text-shadow: 1px 1px 2px $base-color;
}

.about-me-content-text{
    width: 50%;
    padding-top: 5%;
    margin-left: 15px;
}

.about-me-photo{
    max-width: 550px;
    max-height: 735px;
    border-radius: 10px;
    border: 1px solid $base-color;
    img{
        margin: auto;
        border-radius: 10px;
    }
}

// ABOUT MEDIA QUERIES

@media (max-width: 1165px) {
    .about-me-container{
        padding-top: 20px;
    }

    .about-me-content-text{
       width: 70%;
       margin-right: 0;
    }
}

@media (max-width:830px){
    .jumbotron-content{
        h3{
            font-size: 3rem;
        }
        p{
            font-size: 2rem;
        }
    }
}
  