// VARIABLES 

@import '../variables.scss';

// TRANSFORMATION STYLES

.transformation-box {
    background-color: $base-color;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.transformation-content {
    width: 100%;
    padding: 5px;
    padding-top: 40px;
    border-radius: 10px;
    position: relative;
    &:nth-of-type(odd){
        background-color: lighten($base-color, 4%);
    }
}

.transformation-content-title{
    font-size: 1.6rem;
    border-left: 15px solid $secondary-color;
    padding-left: 4px;
    margin-left: 20px;
}

.transformation-content-image{
    width: 500px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
}

.transformation-content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto 40px auto;
    text-align: center;
}

.transformation-content-box-text{
    padding: 50px;
    padding-bottom: 0;
    p{
        border-bottom: 4px double $secondary-color;
        padding-bottom: 3px;
        b, strong{
            color: darken($base-color,20%);
        }
    }
    h1,h2,h3,h4,h5{
        border-bottom: 2px solid $secondary-color;
        padding-bottom: 5px;
    }
}

@media (max-width:830px){
    .transformation-content-image{
        width: 450px;
        height: 550px;
    }
}

@media(max-width:435px){
    .transformation-content-image{
        width: 350px;
        height: 450px;
    }
    .transformation-content-box-text{
        padding: 20px;
    }
}

