//HEADER ANIMATIONS

@keyframes swing {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

//STYLES

.header{
    background-color:lighten(#666666, 40%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.2rem;
    position: fixed;
    z-index: 2;
}

.title{
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: .4rem;
    font-weight: bold;
}

.nav-list{
    display:flex;
    list-style-type: none;
    margin: auto 8.5rem auto 0;
    li{
        margin: 0;
    }
}

.nav-item {
    color: #000000;
    text-shadow: -1px 3px 2px rgba(150, 150, 150, 0.83);
    font-size: 1.2rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    text-decoration: none;
    position: relative;
}

.nav-item::after{
    content: "";
    width: 50%;
    height: 3px;
    display: none;
    left: 50%;
    bottom: 0;
    margin-bottom: -4px;
    background-color: black;
    position: absolute;
}

.nav-item:hover::after{
    display: block;
    animation: swing .3s ease;
}

.active-nav-link{
    color:#000000;
}

.header-social-media{
    display:flex;
    list-style-type: none;
    align-self: center;
    margin: 0;
    li{
        margin-right: .6rem;
        margin-left: .6rem;
    }
    a{
        text-decoration: none;
        color: #000000;
        transition: ease .2s;
        &:hover{
            color:#a3867f;
        }
    }
}
